# Ignore all node_modules in any subdirectory
node_modules/

# Ignore environment variables
.env
.env.production
.env.development

# Ignore build/output folders
dist/
build/

# Ignore log files
logs/
*.log